.znxt-text-color-primary {
    color: #000000;
}
.znxt-text-color-secondary {
    color: #ffffff;
}

.znxt-text-color-grey-1 {
    color: #505152;
}
.znxt-text-color-grey-2 {
    color: #7d7d7d;
}
.znxt-text-color-grey-3 {
    color: #b3b3b3;
}

h1.znxt-text {
    font-size: 32px;
    margin: 0;
    padding: 0;
}
h2.znxt-text {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
h3.znxt-text {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
p.znxt-text {
    margin: 0;
    padding: 0;
}
